@model List<Department>

@{
  ViewData["Title"] = "Employee Home";
}


<h1>Displaying all Departments  </h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Department Id</th>
      <th scope="col">Department Name</th>
      <th scope="col">Location</th>
      <th scope="col">Created Date</th>
      <th scope="col">Description</th>
      
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    @for (int i = 0; i < Model.Count; i++)
    {

      <tr>
        <td>@(i+1)</td>
        <td>
          <a href="/department/detail?id=@Model[i].Id">@Model[i].DepartmentId</a>
        </td>
        <td>@Model[i].DepartmentName</td>
        <td>@Model[i].Location</td>
        <td>@Model[i].CreatedDate</td>
        <td>@Model[i].Description</td>
        

        <td><a class="btn btn-outline-primary" href="/department/Edit?id=@Model[i].Id">Edit</a>
        <a class="btn btn-danger" href="/Department/Delete?id=@Model[i].Id">Delete</a>
        </td>

      </tr>
    }
  </tbody>
</table>